<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content=
        'width=device-width, initial-scale=1.0'>
    <title>MARKDOWN</title>
     <style>
      body {
        background-image: url("https://markdown-sample.pvarsh10.repl.co/static/background.jpg");
        height="250";
      }
    </style>
  </head>
  <body>
  <h1><center>MARKDOWN</center></h1>
    <label for="site-search">Search the site:</label>
<input type="search" id="site-search" name="q">
<br>
  <br>
    <br>
      <br>
<center><button>Shop Now</button></center>
  </body>
</html>


   
 